body {
    background-color:#F5F9FF;
 }

 .homePage-bady{
    position: absolute;
    top: 25%;
    margin: 0;
    padding: 0;
    right: 0;
    z-index: -1;
}
.subscribe-container{
     width: 100vw;
     height: 1300px;
    /* border:1px solid black; */
}
.fire-container{
    display: flex;
    /* border:1px solid red; */
}
.fire-container img{
   position: absolute;
   right: 13%;
}

.fire-text{
    position: absolute;
    left: 18%;
    top: 12%;
 }
    
/* 背景选择框 */
.selected-bgs{
    position: absolute;
    left: 15.5%;
    bottom: 28%;
    /* transform: translate(22%,115%); */
    display: flex;
}

.selected-bg-1,  
.selected-bg-2,
.selected-bg-3
{
   width: 343px;
   height: 520px;
   z-index: 2;
   /* border:1px solid red; */
}

.selected-bg-1 img,  
.selected-bg-2 img,
.selected-bg-3 img 
{
    width: 100%;     
    height: 100%;  
    z-index: -1;
    opacity: 0;
    transition: all 0.2s ease-in;
  } 
.selected-bg-1,  
.selected-bg-2,
.selected-bg-3:hover{
   cursor: pointer;
 }

/* 背景图片 */
.plan-bgs{
    position: absolute;
    left: 15.5%;
    bottom: 28%;
    /* transform: translate(22%,115%); */
    display: flex;
    /* border:1px solid red; */
}
.plan-bg-1,  
.plan-bg-2,
.plan-bg-3
{
   width: 343px;
   height: 520px;
   z-index: 2;
   /* border:1px solid red; */
}

.plan-bg-1 img,  
.plan-bg-2 img,
.plan-bg-3 img 
{
    width: 100%;     
    height: 100%;  
    z-index: 2;
    opacity: 1;
    transition: all 0.2s ease-in;
  } 



 .subscribe-button h6{
    position: absolute;
    left : 42%;
    bottom: 23%;
    padding-top: 10px;
    padding-bottom: 15px;
    padding-left: 40px;
    padding-right: 40px;
    color:  #31579F;
    background-color: white;
    border-radius: 10px;
    transition: all 0.2s ease-in;
    border:3px solid #31579F;
    opacity: 50%;
    z-index: 999;
 }
 .subscribe-button h6:hover{
   background-color: #31579F;
   color: white; 
}